@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'Inter', system-ui;
  --color-lightblue: rgb(36, 164, 203);
  --color-blue: rgb(0, 190, 44);
  --color-yellow: rgb(25, 64, 202);
  --color-box-shadow: rgb(28, 31, 31);
}

body > #root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-lightblue);
}

header {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}

header img {
  max-width: 40vw;
  height: auto;
}

footer {
  padding: 0.5rem;
  text-align: center;
  background-color: var(--color-yellow);
}

@media (width < 600px) {
  header img {
    max-width: 80vw;
  }
}
